@import url('https://fonts.googleapis.com/css2?family=Borel&family=Inter:wght@500&family=JetBrains+Mono:wght@500&family=Kanit:ital,wght@1,300&family=Mate+SC&family=Satisfy&display=swap');
/* 
    font-family: 'Borel', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mate SC', serif;
    font-family: 'Satisfy', cursive; */
*{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    z-index: 100;
}
.logo{
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    user-select: none;
    font-family: 'Mate SC', serif;

}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;

}
.navigation a:hover,
.navigation a.active {
    color: #333;
}
.navigation a span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 30px;
    opacity: 0;
    z-index: -1;
    transform: scale(0);
    transform: .5s;
}
.navigation a:hover span{
    transform: scale(1);
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
#text{
    position: absolute;
    font-size: 5em;
    color: #1b283a;
    font-family: 'Mate SC', serif;
    text-shadow: 2px 4px 5px #f9f9f9;
    user-select: none;
}
h2>span{
    font-family: 'Mate SC', serif;
    color: rgb(219, 44, 21);
}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

}
.parallax img#gate-left{
    position: fixed;
    transform: translateX(-282px);
}
.parallax img#gate-right{
    position: fixed;
    transform: translateX(305px)
}
.sec {
    position: relative;
    background: #020912;
    padding: 30px 100px;
   
}
.sec h2{
    font-size: 3em;
    color: rgb(107, 220, 228);
    margin-bottom: 10px;
    text-shadow: 2px 4px 5px #f9f9f9;
    text-align: center;
    font-family: 'Mate SC', serif;
    
}

.sec p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    text-align: justify;
}
.container{
    height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 300px 550px;
    grid-template-rows: 230px 300px;
    
    text-align: center;
    justify-content: center;
    grid-gap: 10px;
    
}
.container>.box{
    
    border-radius: px;   
}
.box1{
    width: 300px;
    grid-row: 1/span 2;
    overflow: hidden;
    
}
#gokul{
    border-radius: 50%;
    border: 2px solid rosybrown;
    user-select: none;
}
.leader-name{
    color: white;
    font-weight: 900;
    font-family: 'Mate SC', serif;
    text-align: left;
    padding: 20px 10px 0 10px;
    font-size: 30px;
    user-select: none;
}
.leader-about{
    color: white;
    font-weight: 700;
    padding: 0 10px 0 10px;
    font-family: 'Inter', sans-serif;
}
.gang-name{
    color: rgb(243, 44, 44);
    font-weight: bolder;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}
pre{
    color: white;
    font-weight: 900;
    font-family: 'Mate SC', serif;
    font-size: 20px;
}
dk{
    color: red;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
.red{
    font-size: 30px;
    font-family: 'Mate SC', serif;
}
.box{
    background: #020912;
}
.box2,.box3{
    overflow: hidden;
    
    display: flex;
    flex-wrap: wrap;  
    text-align: left;
    flex-direction: column;
}
.box3{}
#mass{
    text-decoration: none;
    color: rgb(83, 187, 247);
    font-family: 'Borel', cursive;
    font-weight: 900;
    text-align: center;
}

#mass:hover{
    color:#1b283a;
}